@using MvcCv.Models.Entity
@model List<TblEgitimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2>Eğitim Listem</h2>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">ID</th>
                                            <th>Başlık</th>
                                            <th>Alt Başlık</th>
                                            <th>Alt Başlık2</th>
                                            <th>GNO</th>
                                            <th>TARİH</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            <tr>
                                                <td>@x.ID</td>
                                                <td>@x.Baslik</td>
                                                <td>@x.AltBaslik1</td>
                                                <td>@x.AltBaslik2</td>
                                                <td>@x.GNO</td>
                                                <td>@x.Tarih</td>
                                                <td class="text-center"><a href="/Egitim/EgitimSil/@x.ID" class="btn btn-danger" style="margin-right: 15px">Sil</a><a href="/Egitim/EgitimGüncelle/@x.ID" class="btn btn-warning">Güncelle</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <a href="/Egitim/EgitimEkle" class="btn btn-primary">Yeni Eğitim Ekle</a>
    </div>
</body>
</html>

