@model MvcCv.Models.Entity.TblSosyalMedya
@{
    ViewBag.Title = "SosyalmedyaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Egitim Ekleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Ad")
    @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Link")
    @Html.TextBoxFor(x => x.Link, new { @class = "form-control" })
    <br />
    @Html.Label("Icon")
    @Html.TextBoxFor(x => x.ikon, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
